<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytooo.mapper.EmpMapper">

    <select id="page" resultType="com.ytooo.pojo.Emp">
        select e.*, d.name as dept_name from emp e LEFT JOIN dept d ON e.dept_id = d.id
            <where>
                <if test="name != null and name != ''">
                    e.name like concat('%', #{name}, '%')
                </if>
                <if test="gender != null">
                    and e.gender = #{gender}
                </if>
                <if test="begin != null and end != null">
                    and e.entry_date between #{begin} and #{end}
                </if>
            </where>

            order by e.update_time desc
    </select>
</mapper>